<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="mail.css" data-inline="data-inline">
</head>

<body>

  <header>
    <img src="<%= logo %>" alt="<%= applicationName %>">
  </header>

  <main>
    <p>Great news, <strong>emails are working!</strong></p>
    <p class="cta"><a href="https://fictionaluniversity.auther.org">Manage your certificates</a>
    <p class="signature">The <%= applicationName %> team.</p>
  </main>

  <footer>
    <%- footer %>
  </footer>

</body>

</html>
